.x-raybutton {
  position: fixed;
  bottom: 10%;
  right: 25%;
  width: 70px;
  height: 70px;
}
body {
  background-color: #363535;
  color: #00f6ab;
  font-family: "ヒラギノ丸ゴ ProN","Hiragino Maru Gothic ProN";
  padding: 1em;
}
header {
  position: fixed;
  background-color: #1c1c1c;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
}
