#x-raybutton {
  position: fixed;
  bottom: 10%;
  right: 25%;
  width: 70px;
  height: 70px;
}
body {
  background-color: #363535;
  color: #00f6ab;
  font-family: "ヒラギノ丸ゴ ProN","Hiragino Maru Gothic ProN";
  padding: 125px 0px 0px 25px;
}
header {
  position: fixed;
  background-color: #1c1c1c;
  top: 0;
  left: 0;
  width: 100%;
  /* opacity: 0.9; */
}
#sitename {
  padding: 0px 0px 0px 20px;
}
#majorheading {
  padding: 5px 0px 0px 20px
}
#flex {
  display: flex;
}
